{% extends 'layout.html' %}
{% block title %}Welcome{% endblock %}
{% block navigation %}{% endblock %}
{% block content %}
    <h2>Welcome to ToDoQuick</h2>
    <p>ToDoQuick is a ToDo system based on the concepts of digital literacies from Mark Hurst's book Bit Literacy. It uses several concepts you may not find with other systems:</p>
    <ul>
        <li>Delayed task activation</li>
        <li>Infinitely nestable tasks</li>
        <li>Infinitely nestable tags</li>
        <li>Descriptive Projects</li>
        <li>Daily reminder emails</li>
    </ul>
    <p>ToDoQuick is still under active development. It is a one-man project, not yet ready for the big time. There are some features we're looking to implement soon:</p>
    <ul>
        <li>Shared projects</li>
        <li>Add task by email</li>
        <li>Mobile Version</li>
    </ul>
{% endblock %}
{% block sidebar %}
    <h3>Log In</h3>
    <form method="post" action="{{ url_for('login') }}">
        <p><input type="text" name="username" placeholder="Username/Email" /></p>
        <p><input type="password" name="password" placeholder="Password" /></p>
        <p><input type="checkbox" name="remember" id="remember" value="true" /><label for="remember">Remember Me</label></p>
        <p><input type="submit" /></p>
    </form>
    <h3>Register</h3>
    <form method="post" action="{{ url_for('register') }}">
        <p><input type="text" name="username" placeholder="Username *" required /></p>
        <p><input type="email" name="email" placeholder="Email Address *" required /></p>
        <p><input type="text" name="name" placeholder="Your Name" /></p>
        <p><input type="password" name="password" placeholder="Password" required /></p>
        <p><input type="submit" /></p>
    </form>
{% endblock %}
